[data-wf] {outline: 2px solid gray;
   position: relative; z-index: 1;}
[data-wf]::before {
   position: absolute; z-index: 8675309;
   top: 0; bottom: 0; right: 0; left: 0;
   background:
      linear-gradient(to top right,
         transparent calc(50% - 1px), gray calc(50% - 1px),
         gray calc(50% + 1px), transparent calc(50% + 1px)),
      linear-gradient(to bottom right,
         transparent calc(50% - 1px), gray calc(50% - 1px),
         gray calc(50% + 1px), transparent calc(50% + 1px)),
      #FFF9;
      content: attr(data-wf);
      font: bold 2em Jubilat, Georgia, serif;
      color: gray;
      display: flex; justify-content: center; align-items: center;
}

.container {
   display: grid;
   grid-template-columns: 30% 70%;
   grid-template-rows: 100%;
}

main {
   grid-column: 2/3;
   grid-row: 1/2;
}

section {
   grid-column: 1/2;
   grid-row: 1/2;
}

.hero-image {
   width: 300px;
}

.degree-pair {
   display: flex;
}